* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161320;
    font-family: "Roboto", sans-serif;
}

.navbar {
    width: 100%;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 20%;
}

.navbar-center {
    display: flex;
    justify-content: center;
    width: 60%;
}

.navbar-left {
    justify-content: flex-start;
}

.navbar-right {
    justify-content: flex-end;
}

.logo {
    width: 100%;
    max-width: 233px;
}

.icon {
    border: none;
    background: none;
    cursor: pointer;
}