{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
        const serv_day = new Date({{ today | tojson }});
        const first = {{ first | tojson }};
        var data = {{ data | tojson }};
    </script>
    <div id="main">
        <div id="pregame" class="overlay">
            <div class="overlay-content animate__animated animate__faster">
                <p>Match actors to the movies they starred in.</p>
                <p>A random movie or actor is selected each day.</p>
                <p>Try to connect as many movies and actors as you can.</p>
                <hr>
                <button>BEGIN</button>
            </div>
        </div>
        <div id="game">
            <div id="current">
                <h3>0</h3>
                <h1></h1>
                <p></p>
            </div>
            <hr>
            <div id="answers">
                {% for _ in range(4) %}
                    <button class="answer-button" onClick="checkAnswer(this)"></button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}